article{
    background-color: white;
}
.content{
    display: flex;
    height: 150px;
    font-size: 0.8rem;
    color: #444;
}
article header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrowUp{
    width: 15px;
    height: 15px;
}
.img{
    width: 150px;
}
.publishDate{
   text-align: right;
}

article .hidden{
    display: none;
}
