*{
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 62.5%;
  overflow-y: auto;
  min-height: 100%;
}
body{
  margin : 0;
}
.App{
display: flex;
justify-content: center;
}
.container{
  width : 980px;
  display: flex;
  justify-content: center;
}
.imageBack{
  flex-direction: column;
  width: 46%;
}

.listContent{
  display: flex;
  justify-content: center;
  width: 54%;
  background-color: #ff9001;
}

.containerList{
  margin: 2rem;
}
.containerList button{
  font-size : 3.2rem;
  margin-right: 2rem;
}

.containerList article{
  margin: 1.5rem 0;
  padding: 2rem;
}

