*{
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 62.5%;
  overflow-y: auto;
  min-height: 100%;
}
body{
  margin : 0;
}
.App{
display: flex;
justify-content: center;
}
.container{
  width : 980px;
  display: flex;
  justify-content: center;
}
.sectionImgBackground{
  flex-direction: column;
  width: 54%;
  background-color: rgb(223, 219, 219);
}
.sectionImgBackground .backgGrey{
  height: 248px;
}
.sectionImgBackground .backgVegetation{
  height: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
  font-size: 3rem;
}
.listContent{
  display: flex;
  justify-content: center;
  background-color: #ff9001;
}

.containerList{
  margin: 2rem;
}
.containerList button{
  font-size : 3.2rem;
  margin-right: 2rem;
  background-color: white;
}

.containerList article{
  margin: 1.5rem 0;
  padding: 1.5rem;
}
@media screen and (max-width: 640px){
  .container{
    display: flex;
    flex-direction: column;
  }
  .listContent{
    order: -1;
  }
  .containerList{
    margin: 0;
    width: 100%;
  }
  .sectionImgBackground{
    width: 100%;
  }  
}