html{
  font-size: 62,5%;
}

.App{
display: flex;
justify-content: center;
}
.container{
  width : 980px;
  display: flex;
  justify-content: center;
}
.imageBack{
  flex-direction: column;
  width: 46%;
}

.listContent{
  width: 54%;
  background-color: #ff9001;
}

.containerList{
  margin: 2rem;
}

.containerList article{
  margin: 1rem 0;
}